.facebookBtn{
   background-color: #4267b2;
   width: 100%;
   border: none;
   border-radius: 4px;
   display: flex;
   text-align: center;

   &__img{
    vertical-align: middle;
    text-align: center;
    color: white;
    margin: 6px;
    margin-left: auto;
   }
   &__text{
    // flex: 50%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 6px;
    margin-right: auto;
    letter-spacing: .25px;
    text-align: center;
    white-space: nowrap;
    color: white;
    @media (max-width: 400px) {
        display: none;
    }
   }
    
}