.createForm{
    
    &__title{
        font-size: 30px;
        color: #24305E;
        text-align: center;
    }
    &__errorMsg{
        color: red;
        font-size: 20px;
    }
    &__field{
        max-width: 400px;
        padding-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    &__button{
        max-width: 400px;
        padding-bottom: 16px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__buttonForeign{
        max-width: 400px;
        padding-bottom: 16px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}