
body, html, #root, .app {
  width: 100%;
  height: 100%;
  background-color: #A8D0E6;
}

.profilePic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header{
  font-size: 20px;
  display: flex;
  background-color:#A8D0E6;
}

.inputField {
 padding-bottom: 16px;
}

.formErrorMsg{
  color: red;
  font-size: 20px;
}

.signinFacebook > .butkep-login-facebook{
  content: 'Sign up with Facebook';
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px #374785;
 border-radius: 4px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 14px;
 background: rgba(255, 255, 255, 1);
}

.submitButton {
 padding-top: 16px;
}

.loadingSpinner{
  display:block;
  margin: 0 auto;
}

.logbtn {
  width: 100%;
  color: #565656;
  border: solid 2px #374785;
  border-radius: 4px;
  background: #fff;
  text-align: center;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 1rem;
}

.linkHeader {
  border: solid 2px #374785;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 1rem;
}

.sometimes-hidden-img { 
  display: block; 
}  

@media screen and (max-width: 600px) { 

  .sometimes-hidden-img { 
    display: none; 
  }  
}

